@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared style */

:root{
    --primary-color: #E95A08;
    --secondary-color: #000000;
    --gray-color: #00000050;
}


.display{
    display: flex;
}


/* header style */
header{
    max-width: 85%;
    margin: 0px auto;
    font-family: "Inter", sans-serif;
}

.nav-container{
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.nav-item1 li{
    list-style: none;
    margin-right: 40px;
}

.nav-item1 li a{
    text-decoration: none;
}

.home{
    color: #252432;
    font-weight: 600;
}

.shop, .about{
    color: #8987A1;
}

.nav-cart{
    gap: 10px;
}

.cart{
    text-decoration: none;
    color: var(--secondary-color);
}

/* banner style */

.banner-container{
    justify-content: space-between;
    margin: 7.5rem 0;
    align-items: end;
}

.banner-container img{
    max-width: 100%;
}

.banner-title{
    font-family: "Noto Serif", serif;
    font-size: 4.06rem;
    font-weight: bold;
    color: var(--primary-color);
}

#always{
    color: var(--secondary-color);
}

.banner-description{
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: var(--gray-color);
}


/* main style */

/* Plant section style */

.plant-container{
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7.5rem;
}

.title-text{
    font-family: "Noto Serif", serif;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

#our{
    color: var(--primary-color);
}

.description-text{
    font-size: 1.375rem;
    color: var(--gray-color);
    margin: 16px 0 50px 0;
}

.card-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.card{
    max-width: 16.875rem;
    font-family: "Inter", sans-serif;
}

.card img{
    max-width: 100%;
}

.card-title{
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    margin-top: 20px;
}

.card-price{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn{
    width: 100%;
    height: 3.2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-bottom: 20px;
}

/* plants lover section style */

.Plant-lover-container{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    margin-bottom: 8.15rem;
}

.plant-lover-img{
    position: relative;
    max-width: 540px;
}

.main-img{
    max-width: 100%;
    display: block;
}

.trusted-badge{
    width: 286px;
    position: absolute;
    top: -125px;
    left: 350px;
    z-index: 2;
}

.plant-lover-text{
    max-width: 50%;
    
}

.plant-lover-title{
    font-family: "Noto Serif", serif;
    font-size: 3.175rem;
    font-weight: bold;
}

.plant-lover-description{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    color: var(--gray-color);
    margin: 15px 0;
    
}

/* deals section style */

.deals-container{
    max-width: 85%;
    margin: 0 auto;
    font-family: "Noto Serif", serif;
    margin-bottom: 100px;
}

.deals-text{
    text-align: center;
}

#latest{
    color: var(--primary-color);
}

/* join style */

#join-container{
    max-width: 100%;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

}

#join-container{
    display: flex;
    justify-content: center;
}

.join-content{
    max-width: 830px;
    text-align: center;
    margin: auto 0px;
}

.join-titile{
    font-family: "Noto Serif", serif;
    font-size: 3.15rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

#email{
    width: 644px;
    padding: 8px 20px;
    border: none;

}

.subscribe{
    width:  150px;
    background-color: var(--primary-color);
    padding: 8px 20px;
    color: white;
    border: none;
    position: relative;
    left: -8px;
}

/* footer style */

footer{
    max-width: 85%;
    margin: 50px auto;
    font-family: "Inter", sans-serif;
}

.footer-container{
    justify-content: space-evenly;
}

.footer-text{
    max-width: 359px;
    color: var(--gray-color);
    font-size: 1.375rem;
    margin-top: 10px;
}

.footer-content li{
    list-style: none;
    margin-bottom: 30px;
}

.footer-content li a{
    text-decoration: none;
    color: var(--gray-color);
}

.footer-icon img{
    margin-right: 15px;
}

.icon-twitter{
    margin-bottom: 7px;
}

/* resposive style */

/* mobile device */

@media screen and (max-width: 576px) {
    
    header{
        max-width: 100%;
    }

    .nav-container{
        max-width: 90%;
        margin: 10px auto;
    }
    .nav-item1{
        display: none;
    }
    .nav-logo{
        max-width: 30%;
    }

    .banner-container{
        max-width: 100%;
        flex-direction: column-reverse;
        gap: 3.5rem;
    }

    .banner-text{
        max-width: 95%;
        margin: 10px auto;
    }

    .banner-title{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .banner-description{
        font-size: 1rem;
    }

    .title-text{
        font-size: 1.5rem;
    }

    .description-text{
        font-size: 1rem;
    }

    .plant-container{
        max-width: 95%;
    }
    .card-box{
    grid-template-columns: repeat(2,1fr);
    }

    .Plant-lover-container{
        max-width: 95%;
        flex-direction: column;
    }

    .trusted-badge{
        display: none;
    }

    .plant-lover-text{
        max-width: 100%;
    }

    .plant-lover-title{
        font-size: 2rem;
    }

    .plant-br{
        display: none;
    }

    .join-content{
        max-width: 320px;
    }

    .join-titile{
        font-size: 1rem;
    }

    #email{
        width: 218px;
    }

    .subscribe{
        width: 95px
    }

    footer{
        max-width: 95%;
    }

    .footer-container{
        flex-direction: column;
    }

}
